.navbar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    height: 100%;
    padding: 30px 32px 30px 32px;
    background: #fff;
    box-shadow: 2px 0 2px 0 rgb(0 0 0 / 15%);
    z-index: 100;
    overflow-y: auto;
}